.logosmall
{
  background: url(../img/tawo-logo-small.png) center center no-repeat;
}
.logosmall span
{
  margin-left: -4000px;
}
.logobig
{
  background: url(../img/tawo-logo-big.png) center center no-repeat;
  height: 54px;
  width: 413px;
}
.logobig span
{
  margin-left: -4000px;
}
.title
{
  font-size: 1.5em!important;
}
.linkbox
{
  background-color: #f0f0f0;
  border: 1px solid #8b8b8b;
  border-radius: 2px;
  color: #444;
  display: block;
  font-family: arial, helvetica, sans-serif;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 2px;
}
.imgcontainerlist
{
  background: #e7e7e7 url(../img/image-box-bg.png)no-repeat 0 0;
  display: inline-block;
  float: left;
  height: 53px;
  margin-right: 10px;
  overflow: hidden;
  padding: 0;
  width: 120px;
}
.x-panel-body strong,
.x-panel-body h4
{
  font-weight: bold!important;
}
.x-panel-body small
{
  color: #7A7A7A;
  font-family: Arial, "Helvetica", sans-serif;
  font-weight: normal!important;
  line-height: 140%;
}
code, pre, pre *
{
  font-family: monospace;
}
code, pre
{
  font-size: .9em;
}
.card .x-panel-body
{
  background-color: #FAFAFA;
  color: rgba(0,0,0,1);
  font-family: georgia, serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  padding: 1em 5%;
  text-align: left;
}
.socialbuttons
{
  clear: both;
  float: none;
  height: 32px;
  margin: 10px 0 20px;
  padding: 0;
  width: 100%;
}
.socialbuttons li
{
  float: left;
  margin: 0 14px 0 0;
}
.socialbuttons li a
{
  background-color: #f0f0f0;
  border: 1px solid #8b8b8b;
  border-radius: 2px;
  color: #14d878;
  display: block;
  height: 32px;
  padding: 0;
  text-indent: -99999px;
  -webkit-border-radius: 2px;
  width: 42px;
}
.socialbuttons li a[href^="mailto"]
{
  background: #f0f0f0 url(../img/icon_mail.png) no-repeat center center;
}
.socialbuttons li a.twitter
{
  background: #f0f0f0 url(../img/icon_twitter.png) no-repeat center center;
}
.socialbuttons li a.facebook
{
  background: #f0f0f0 url(../img/icon_facebook.png) no-repeat center center;
}
.buttons
{
  ackground-color: #ccc;
}
.launchscreen > .x-panel-body
{
  background-color: #FAFAFA;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}
.launchscreen > .x-panel-body > div
{
  color: #666;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  text-shadow: #fff 0 0 25px;
  width: 530px;
}
.launchscreen > .x-panel-body h1
{
  color: #000;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -1px;
}
.launchscreen .x-panel-body span
{
  color: #999;
}
.cards .x-panel-body h1
{
  font-size: 72px;
  line-height: 80px;
  margin-bottom: 18px;
}
.cards .x-panel-body p
{
  margin-bottom: 18px;
}
.card1 .x-panel-body
{
}
.card2 .x-panel-body
{
  background-color: #e7e7e7!important;
}
.card3 .x-panel-body
{
  background-color: #e7e7e7!important;
}
.card4 .x-panel-body
{
  background-color: #e7e7e7!important;
}
.card5 .x-panel-body
{
}
.card6 .x-panel-body
{
}
.card4 .x-panel-body, .card5 .x-panel-body, .card6 .x-panel-body
{
}
.demobtn
{
  margin: 3% 5%;
}
#touchdemo > .x-panel-body
{
  padding: 20px;
}
#touchpad
{
  background-color: rgba(255,255,255,.8);
  border: 8px dashed #eee;
  color: #ccc;
  font-size: 48px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 30px;
}
.x-phone #touchpad
{
  font-size: 21px;
}
.x-tablet #touchpad
{
  margin: 20px;
}
#touchinfopanel
{
  border-right: 1px solid #000;
}
#touchinfopanel .x-toolbar-metal
{
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
  height: 30px;
}
#touchinfopanel .x-toolbar-metal .x-toolbar-title
{
  font-size: 16px;
  line-height: 30px !important;
  text-shadow: rgba(0,0,0,.5) 0 -1px 0;
}
.x-tablet .x-nested-list, .x-desktop .x-nested-list
{
  border-right: 1px solid #000;
}
.x-tablet .x-fullscreen > .x-nested-list .x-list-item:last-child:after, .x-desktop .x-fullscreen > .x-nested-list .x-list-item:last-child:after
{
  bottom: -80px;
  content: "\00a0";
  height: 43px;
  left: 110px;
  margin-bottom: 20px;
  position: absolute;
  width: 30px;
}
.overlay .x-panel-body
{
  color: rgba(0,0,0,.4);
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  padding: 100px 15%;
  padding: 80px 0 !important;
  text-align: center;
  text-shadow: rgba(255,255,255,.2) 0 1px 0;
}
#showSourceWrap
{
  border-top: 1px solid #ccc;
  padding: 10px;
}
#showSourceButton
{
  width: 100%;
}
.demos-loading
{
  background: rgba(0,0,0,.3) url(../img/loading.gif) center center no-repeat;
  color: #fff;
  display: block;
  font-weight: bold;
  height: 10em;
  left: 50%;
  margin-left: -5em;
  margin-top: -5em;
  padding-top: 8em;
  position: absolute;
  text-align: center;
  text-shadow: #000 0 1px 1px;
  top: 50%;
  -webkit-border-radius: .5em;
  width: 10em;
}
.x-tablet .demo-weather
{
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
}
.x-tablet .day
{
  -webkit-box-flex: 1;
}
.demo-data .day
{
  border-bottom: 1px solid #999;
  color: rgba(0,0,0,.5);
  margin: 1%;
  padding: 15px;
  text-align: center;
  text-shadow: #fff 0 1px 0;
  -webkit-border-radius: 15px;
}
.x-phone .day
{
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
}
.x-phone .day .date, .x-phone .day .temp
{
  text-align: center;
  -webkit-box-flex: 1;
}
.feedflare
{
  display: none !important;
}
.x-tablet .day img
{
  display: block;
  margin: 0 auto;
}
.temp
{
  display: block;
  font-size: 48px;
  line-height: 40px;
  margin: 20px 0;
}
.temp_low
{
  color: rgba(30,30,30,.5);
  display: block;
  font-size: 26px;
}
.date
{
  font-size: 11px;
  font-weight: bold;
  margin: 10px 0 5px;
}
span.loading
{
  background: rgba(0,0,0,.1);
  color: rgba(0,0,0,.5);
  display: inline-block;
  font-size: 32px;
  height: 100%;
  padding-top: 100px;
  text-align: center;
  text-shadow: rgba(255,255,255,.3);
  vertical-align: middle;
  width: 100%;
}
.x-tablet .demo-list > .x-panel-body,
.demo-picker > .x-panel-body
{
}
.x-tablet .demo-list .x-list,
.demo-picker .x-picker
{
  border: 1px solid #3A3A3A;
}
.x-simulator-thumb
{
  background: #EEE;
  height: 40px;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  -webkit-border-radius: 20px;
  -webkit-box-shadow: 0px 0px 4px #555;
  width: 40px;
  z-index: 9999999;
}
.x-simulator-thumb.pressed
{
  background: #FF6600;
}
.x-tablet .x-simulator-popup .x-panel-body
{
  font-size: 120%;
}
.theme_choice img
{
  vertical-align: middle;
}
.x-nested-list
{
  border-color: #aaaaaa !important;
  font-family: "Georgia", Times New Roman, Times, serif !important;
}
.x-list
{
  background-color: #ffffff !important;
}
.x-nested-list .x-toolbar
{
  background-image: -moz-linear-gradient(top, #d9d9d9, #c0c0c0);
  background-image: -ms-linear-gradient(top, #d9d9d9, #c0c0c0);
  background-image: -o-linear-gradient(top, #d9d9d9, #c0c0c0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d9d9d9), to(#c0c0c0));
  background-image: -webkit-linear-gradient(top, #d9d9d9, #c0c0c0);
  border-bottom: 2px solid #14d878;
  border-top: 1px solid #f8f8f8;
}
.x-list .x-list-item
{
  border-top-color: #14d878;
  min-height: 2em;
}
.x-list-item-body
{
  margin: -0.5em -0.8em;
}
.x-list-item-body span b
{
  color: #000;
  font-family: "Georgia", Times New Roman, Times, serif;
  font-weight: bold;
  text-shadow: rgba(255,255,255, 1) 0px 1px 0px;
}
.x-list-item-body .x-list-item-leaf
{
}
.x-panel-body .x-scroller-parent:first-child .x-list-parent .x-list-item:first-child .x-list-item-body img
{
  float: none !important;
  margin-bottom: 5px;
  width: 100%;
}
.x-panel-body .x-scroller-parent:first-child .x-list-parent .x-list-item:first-child .x-list-item-body h2
{
  font-size: 20px !important;
  line-height: 120% !important;
  padding-bottom: 5px;
}
.x-panel-body .x-scroller-parent .x-list-parent .x-list-item:first-child
{
  border-top: none;
}
.x-list .x-list-item.x-item-selected
{
  background: #eeeeee;
  border-bottom: none;
  border-top: 1px solid #c7c7c7;
}
.x-list .x-list-item:active
{
  background: #eeeeee;
  border-top: 1px solid #c7c7c7;
}
.x-list-item-body span
{
}
.x-list-item-body span span
{
  background-image: url(../img/gray-arrow.png), -moz-linear-gradient(top, #f8f8f8, #e2e2e2);
  background-image: url(../img/gray-arrow.png), -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e2e2e2));
  background-position: 95% center;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  padding: 0.6em 1.5em 0.6em 0.8em;
  width: 100%;
}
.x-list .x-list-item.x-item-selected span
{
  background-image: url(../img/gray-arrow.png), -moz-linear-gradient(top, #e8e8e8, #d1d1d1);
  background-image: url(../img/gray-arrow.png), -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#d1d1d1));
  color: #000000;
  text-shadow: none;
}
.x-list-item-body span .x-list-item-leaf
{
  background: none;
  color: #7a7a7a;
  display: block;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 12px !important;
  line-height: 17px !important;
  overflow: hidden;
  padding: 0.6em 0.8em;
}
.x-list .x-list-item.x-item-selected .x-list-item-leaf
{
  background: #eeeeee;
  color: #7a7a7a;
  text-shadow: none;
}
.x-list-item-body .x-list-item-leaf img
{
  float: left;
  margin-right: 10px;
}
.x-list-item-body span h2
{
  color: #000000;
  font-family: "Georgia", Times New Roman, Times, serif;
  font-size: 14px !important;
  line-height: 17px !important;
}
.x-button
{
  background-image: linear-gradient(top, #8a8a8a 0%,#4c4c4c 49%,#323232 51%,#343434 100%) !important;
  background-image: -moz-linear-gradient(top, #8a8a8a 0%, #4c4c4c 49%, #323232 51%, #343434 100%) !important;
  background-image: -ms-linear-gradient(top, #8a8a8a 0%,#4c4c4c 49%,#323232 51%,#343434 100%) !important;
  background-image: -o-linear-gradient(top, #8a8a8a 0%,#4c4c4c 49%,#323232 51%,#343434 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a8a8a), color-stop(49%,#4c4c4c), color-stop(51%,#323232), color-stop(100%,#343434)) !important;
  background-image: -webkit-linear-gradient(top, #8a8a8a 0%,#4c4c4c 49%,#323232 51%,#343434 100%) !important;
  border-bottom: 1px solid #383838 !important;
  border-right: 1px solid #383838 !important;
  border-top: 1px solid #383838 !important;
}
.x-button-back
{
  font-family: Arial, "Helvetica", sans-serif;
}
.x-button-back::after
{
  background-image: linear-gradient(top, #8a8a8a 0%,#4c4c4c 49%,#323232 51%,#343434 100%) !important;
  background-image: -moz-linear-gradient(top, #8a8a8a 0%, #4c4c4c 49%, #323232 51%, #343434 100%) !important;
  background-image: -ms-linear-gradient(top, #8a8a8a 0%,#4c4c4c 49%,#323232 51%,#343434 100%) !important;
  background-image: -o-linear-gradient(top, #8a8a8a 0%,#4c4c4c 49%,#323232 51%,#343434 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a8a8a), color-stop(49%,#4c4c4c), color-stop(51%,#323232), color-stop(100%,#343434)) !important;
  background-image: -webkit-linear-gradient(top, #8a8a8a 0%,#4c4c4c 49%,#323232 51%,#343434 100%) !important;
}
.x-button-back::before
{
  background: #383838 !important;
}
.x-toolbar-dark .x-toolbar-title, .x-toolbar-light .x-toolbar-title
{
  text-shadow: 0 1px 0 #ffffff !important;
}
.x-toolbar-dark
{
  border: none !important;
}
.x-toolbar-dark .x-toolbar-title, .x-toolbar-light .x-toolbar-title
{
  background-image: -moz-linear-gradient(top, #d9d9d9, #c0c0c0);
  background-image: -ms-linear-gradient(top, #d9d9d9, #c0c0c0);
  background-image: -o-linear-gradient(top, #d9d9d9, #c0c0c0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d9d9d9), to(#c0c0c0));
  background-image: -webkit-linear-gradient(top, #d9d9d9, #c0c0c0);
  border-bottom: 2px solid #14d878;
  border-top: 1px solid #f8f8f8;
  color: #000000;
  font-family: Arial, "Helvetica", sans-serif;
  text-shadow: none;
}
.x-panel-body
{
  background-color: #ffffff !important;
}
.x-panel-body h1
{
  font-size: 26px;
  font-weight: normal;
  line-height: 28px;
  padding-bottom: 15px;
}
.x-panel-body p
{
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 15px;
}
.x-panel-body p i
{
  color: #6f6f6f;
  font-style: normal;
}
.x-panel-body p small
{
  display: block;
}
.x-tabbar
{
  border-top: none !important;
}
.x-tabbar .x-panel-body
{
  background-image: -moz-linear-gradient(top, #d9d9d9, #c0c0c0) !important;
  background-image: -ms-linear-gradient(top, #d9d9d9, #c0c0c0) !important;
  background-image: -o-linear-gradient(top, #d9d9d9, #c0c0c0) !important;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d9d9d9), to(#c0c0c0)) !important;
  background-image: -webkit-linear-gradient(top, #d9d9d9, #c0c0c0) !important;
  border-top: 1px solid #888888 !important;
}
.x-tabbar-light.x-docked-bottom .x-tab-active
{
  background: #b5b5b5;
  box-shadow: inset 0 0 10px #666666;
  moz-box-shadow: inset 0 0 10px #666666;
  -webkit-box-shadow: inset 0 0 10px #666666;
}
.x-button-label
{
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
.x-tabbar .x-button-label
{
  color: #000;
  font-size: 9px;
  text-shadow: 0 1px 0 #fff;
}
.x-tabbar-light.x-docked-bottom .x-tab img
{
  background-color: #6f6f6f !important;
  background-image: none !important;
}
.x-tabbar-light.x-docked-bottom .x-tab-active img
{
  background-color: #000000 !important;
}
.x-tab img.bookmarks,.x-button img.x-icon-mask.bookmarks
{
  -webkit-mask-image: url(../img/article-icon.png);
}
.x-tab img.info,.x-button img.x-icon-mask.info
{
  -webkit-mask-image: url(../img/info-icon.png);
}
.x-tab img.user,.x-button img.x-icon-mask.user
{
  -webkit-mask-image: url(../img/comments-icon.png);
}
.x-badge
{
  background-color: #0fd779 !important;
  background-image: none !important;
}
header p
{
  border-bottom: 2px solid #a4a4a4;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 12px !important;
  margin-bottom: 10px;
  padding-bottom: 0px !important;
}
.people-list li
{
  overflow: hidden;
  padding-bottom: 25px;
}
.people-list li figure
{
  float: left;
  padding-right: 10px;
  -webkit-margin-after: 0px !important;
  -webkit-margin-before: 0px !important;
  -webkit-margin-end: 0px !important;
  -webkit-margin-start: 0px !important;
}
.people-list li figure img
{
  display: block;
}
.people-list li h3
{
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 17px;
  padding-bottom: 10px;
}
.people-list li h3 a, .people-list li h3 span
{
  border-bottom: 1px solid #0fd779;
  color: #000000;
  text-decoration: none;
}
.people-list li blockquote
{
  font-size: 16px;
  line-height: 21px;
}
.tag-list
{
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 11px !important;
  line-height: 21px !important;
}
.tag-list span
{
  font-family: "Georgia", Times New Roman, Times, serif;
  font-size: 16px !important;
}
.simple-list, .details
{
  padding-bottom: 15px;
}
.simple-list li, .details li
{
  background: url(../img/simple-list-bullet.png) left 14px no-repeat;
  padding-left: 15px;
}
.simple-list li a, .details li a
{
  color: #000000;
}
.comment-list ul li
{
  border-bottom: 1px solid #a4a4a4;
  padding: 10px 0 0;
}
.comment-list ul li small
{
  border-bottom: 1px solid #000000;
}
.comment-list ul li small span:first-child
{
  color: #000000 !important;
  font-family: Arial, "Helvetica", sans-serif !important;
  text-decoration: none;
}
.comment-list ul li span
{
  color: #0fd779;
  font-weight: bold;
}
.comment-list ul li p
{
  padding-bottom: 10px;
}
.comment-list ul li p
{
  padding-bottom: 10px;
}
.x-toolbar-light .x-button,
.x-toolbar .x-toolbar-light .x-button,
.x-toolbar-light .x-field-select .x-input-text,
.x-toolbar .x-toolbar-light .x-field-select .x-input-text,
.x-toolbar-light .x-field-select::before,
.x-toolbar .x-toolbar-light .x-field-select::before
{
  border: 0 solid #383838;
  border-top-color: #383838;
}
.x-toolbar
{
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1) !important;
  moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1) !important;
}
#webcode .x-panel-body.x-scroller-parent
{
  background-color: #FAFAFA;
  color: rgba(0, 0, 0, 1);
  font-family: georgia, serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  padding: 1em 5%;
  text-align: left;
}
#webcode h1
{
  font-family: "Georgia", Times New Roman, Times, serif !important;
  font-size: 22px;
  font-weight: normal;
  line-height: 28px;
  margin: 0;
  padding: 0;
}
#webcode form
{
  margin: 6px 0;
}
#webcode input[type="text"]
{
  border: 1px solid #8b8b8b;
  border-radius: 2px;
  color: #333;
  font-family: "Georgia", Times New Roman, Times, serif;
  height: 28px;
  moz-border-radius: 2px;
  padding: 2px;
  -webkit-border-radius: 2px;
}
#webcode input[type="button"]
{
  background: #f0f0f0;
  background: -webkit-linear-gradient(bottom, #A5A5A5 0%, #E3E3E3 100%);
  border: 1px solid #8b8b8b;
  border-radius: 2px;
  color: #333;
  height: 26px;
  height: 28px;
  padding: 0 10px;
  -webkit-border-radius: 2px;
}
#webcode p
{
  font-family: "Georgia", Times New Roman, Times, serif;
  font-size: 14px;
  line-height: 140%;
  margin: 0;
  padding: 10px 0;
}
.abo-nav-h
{
  font-size: 20px !important;
  line-height: 120% !important;
  padding-bottom: 5px;
  padding-top: 15px;
}
.abo-subnav-h
{
  color: #000;
  font-family: "Georgia", Times New Roman, Times, serif;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
  text-shadow: rgba(255,255,255, 1) 0px 1px 0px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2)
{
  .logosmall
  {
    background: url(../img/tawo-logo-small_high-res.png) center center no-repeat;
    background-size: 184px 24px;
  }
  a[href^="mailto"]
  {
    background: url(../img/icon_mail.png) no-repeat center center;
    background-size: 22px 16px;
  }
  a.twitter
  {
    background: url(../img/icon_mail_hq.png) no-repeat center center;
    background-size: 22px 16px;
  }
  a.facebook
  {
    background: url(../img/icon_mail_hq.png) no-repeat center center;
    background-size: 22px 16px;
  }
}
ul.check-list
{
  margin: 0 0 10px 0;
}
ul.check-list li
{
  background: url(../img/bullet-check.png) no-repeat scroll 0 4px transparent;
  font-size: 14px;
  line-height: 18px;
  list-style-type: none;
  padding: 0 0 7px 20px;
}

.article-body img {
  max-width: 100%;
}

/* blog images / slideshow */
.carousel div.x-panel-body {
  padding: 1%;
  text-align: center;
}

figure.carousel {
  display: inline-block;
  margin: 10px;
}

.blog-images {
  position: relative;
}

.blog-images img {
  max-width: 100%;
}

.blog-carousel-opener {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.blog-carousel-closer {
  position: absolute;
  right: 0px;
  top: 0px;
}

.carousel img {
  max-width: 100%;
  //max-height: 95%;
}

.carousel .closer {
  background: url(../img/close.jpg) no-repeat scroll transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
}


.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.carousel-opener {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

img.max-width {
  max-width: 100%;
}

.carousel-closer {
  position: absolute;
  right: 0px;
  top: 0px;
}

.carousel iframe {
  max-width: 100%;
  max-height: 100%;
}
